<form [formGroup]="form" class="tui-space_bottom-3">
  <div tuiGroup class="group inputs-container">
    <tui-input-number
      formControlName="moneyFirstInput"
      class="tui-group__inherit-item"
      [tuiTextfieldPostfix]="form.get(CurrencyFormProp.CurrencyFirstInput)!.value!.currency | tuiCurrency"
      [precision]="Infinity"
    >
      Введите сумму
    </tui-input-number>

    <tui-select formControlName="currencyFirstInput" [valueContent]="cardContent">
      Валюта
      <tui-data-list-wrapper
        *tuiDataList
        [itemContent]="cardContent"
        [items]="countries"
        [disabledItemHandler]="disabledItemHandlerFirstInput"
      >
      </tui-data-list-wrapper>
    </tui-select>
  </div>

  <button appearance="icon" icon="tuiIconRepeatLarge" tuiIconButton type="button" (click)="onSwapCurrency()"></button>

  <div tuiGroup class="group inputs-container">
    <tui-input-number
      formControlName="moneySecondInput"
      class="tui-group__inherit-item"
      [tuiTextfieldPostfix]="form.get(CurrencyFormProp.CurrencySecondInput)!.value!.currency | tuiCurrency"
      [precision]="Infinity"
    >
      Введите сумму
    </tui-input-number>

    <tui-select formControlName="currencySecondInput" [valueContent]="cardContent">
      Валюта
      <tui-data-list-wrapper
        *tuiDataList
        [itemContent]="cardContent"
        [items]="countries"
        [disabledItemHandler]="disabledItemHandlerSecondInput"
      ></tui-data-list-wrapper>
    </tui-select>
  </div>
</form>

<span>
  1 {{ rateForOne[form.get(CurrencyFormProp.CurrencyFirstInput)!.value!.currency] }} =
  {{ rate | tuiFormatNumber }}
  {{ rateForSome[form.get(CurrencyFormProp.CurrencySecondInput)!.value!.currency] }}
</span>

<ng-template #cardContent let-item>
  <div class="card-item">
    <img [alt]="item.name" [src]="item.flag | tuiFlag" />
    <span>{{ item.currency }}</span>
  </div>
</ng-template>
