form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  form {
    flex-direction: column;
  }
}

.inputs-container {
  width: 320px;

  tui-select {
    max-width: 150px;
  }
}

.card-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;

  img {
    height: 20px;
  }
}
